{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-magic-numbers": "off",
    "no-console": "warn",
    "no-warning-comments": [
      "warn",
      {
        "terms": ["TODO"],
        "location": "start"
      }
    ],
    "no-alert": "error",
    "no-duplicate-imports": "error",
    "no-unused-private-class-members": "error",
    "camelcase": "error",
    "eqeqeq": "error",
    "@typescript-eslint/member-ordering": "error",
    "arrow-body-style": ["error", "as-needed"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ]
  }
}