.banner {
  position: fixed;
  background: #5a5a5a;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
}

.content {
  padding: 0.5rem;
  color: #fff;
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
}
