.chip {
  color: #fff;
  border: 0.07rem solid #121212;
  padding: 0.3rem 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
