.toolbar {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin: 0.5rem 0.6rem;
}

.lowerToolbar {
  bottom: 0;
}

.upperToolbar {
  top: 0;
}
