.menuPanel {
  position: absolute;
  bottom: 3.2rem;
  left: 0.3rem;
  z-index: 99;
  max-width: 10rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.2rem;
}

/* TODO: duplicate of modalHeader */
.menuItemContainer {
  cursor: pointer;
  display: flex;
  padding: 0.3rem;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  gap: 1rem;
  background-color: #fff;
  color: #000;
  &:hover {
    background-color: #2f85bd;
    color: #fff;
  }
}
