.circuitNameInput {
  background-color: #292828;
  color: #fff;
  border: 0;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 0.4rem;
}
.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin-top: 1rem;
}
.actionButton {
  flex: 1;
  height: 2.5rem;
  text-align: center;
}
