name: CI
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build-test-bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build package
        run: pnpm build

      - name: Run tests
        run: pnpm test:unit

      - name: Version bump
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        with:
          major-wording: "major,Major"
          minor-wording: "minor,Minor"
          patch-wording: "patch,bug,Patch,Bug"
          commit-message: "CI: bump version to {{version}}"