name: PR Title Check

on:
  pull_request:
    types: [opened, edited, synchronize]
  workflow_dispatch:

jobs:
  validate-title:
    if: |
      github.actor != 'release-please[bot]' &&
      github.actor != 'github-actions[bot]'
      
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v6
        with:
          requireScope: false
          subjectPattern: ^[A-Z].+
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
