name: Release
on:
  release:
    types: [published]

permissions:
  checks: write
  contents: read

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build package
        run: pnpm build

      - name: Release
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: release
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}